<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Criptopay>
            <version>1.0.1</version>
        </Mage_Criptopay>
    </modules>
    <global>
        <models>
            <criptopay>
                <class>Mage_Criptopay_Model</class>
                <resourceModel>criptopay_mysql4</resourceModel>
            </criptopay>
            <criptopay_mysql4>
                <class>Mage_Criptopay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>criptopay_api_debug</table></api_debug>
                </entities>
            </criptopay_mysql4>
        </models>
		<helpers>
            <criptopay>
                <class>Mage_Criptopay_Helper</class>
            </criptopay>
        </helpers>
        <resources>
            <criptopay_setup>
                <setup>
                    <module>Mage_Criptopay</module>
					<class>Mage_Criptopay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </criptopay_setup>
            <criptopay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </criptopay_write>
            <criptopay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </criptopay_read>
        </resources>
        <blocks>
            <criptopay><class>Mage_Criptopay_Block</class></criptopay>
            <payment>
                <class>Mage_Payment_Block</class>
            </payment>			
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <criptopay_standard>/criptopay/standard</criptopay_standard>
        </secure_url>
        <routers>
            <criptopay>
                <use>standard</use>
                <args>
                    <module>Mage_Criptopay</module>
                    <frontName>criptopay</frontName>
                </args>
            </criptopay>
        </routers>
        <translate>
            <modules>
                <Mage_CriptopayForm>
                    <files>
                        <default>Mage_Criptopay.csv</default>
                    </files>
                </Mage_CriptopayForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <criptopay>
                    <file>criptopay.xml</file>
                </criptopay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Criptopay>
                    <files>
                        <default>Mage_Criptopay.csv</default>
                    </files>
                </Mage_Criptopay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <criptopay_standard>
				<order_status>pending</order_status>
				<active>1</active>
                <payment_action>Payment</payment_action>
                <model>criptopay/standard</model>
                <title>CriptoPay</title>
				<payment_action>authorize_capture</payment_action>				
				
                <allowspecific>0</allowspecific>
            </criptopay_standard>
        </payment>
    </default>
</config>